@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  margin: 0;
}

.navBar {
  color: white;
  background-color: #1937b4;
  font-family: "Roboto";
  border: 1px solid #586082;
  padding-left: 25px;
}

.home {
  display: block;
  margin: auto;
  border: 2px;
  width: 25%;
  border: 1px solid #586082;
  border-radius: 20px;
  margin-top: 120px;
  padding-left: 10px;
  line-height: 0px;
  overflow: auto;
  font-family: "Roboto";
  padding: 20px;
  font-size: large;
}
.title {
  position: relative;
  color: #1937b4;
}
.home input[type="text"] {
  margin-top: 15px;
  border: 2px solid #e16a0b;
  border-radius: 5px;
  width: 99%;
  height: 25px;
}

.fabAdd {
  color: white;
  background-color: #e16a0b;
  position: absolute;
  top: 27%;
  right: 38%;
}
.fabAdd :hover {
  color: #e16a0b;
}
.task-items {
  position: relative;
}
.deleteButton {
  position: absolute;
  top: 0px;
  right: 15px;
  display: none;
  background-color: white;
  border: none;
}
.task-items:hover .deleteButton {
  display: block;
  cursor: pointer;
  margin-top: 7px;
  color: #e16a0b;
}
.checkbox-container {
  display: flex;
  align-items: center;
}
.checkbox-container label {
  cursor: pointer;
  display: flex;
}
.checkbox-container .checkBox {
  color: #e16a0b;
}
